<!doctype html>
<html lang="en">

<head>
  <script defer src="https://medama.sdmn.eu/script.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#14AB98">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Hi, I'm Sergiu. I'm a Site Reliability Engineer at Cisco in Valencia.">
  <title>Sergiu Marsavela</title>

  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Sergiu Marsavela">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <link rel="author" href="https://linkedin.com/in/marsavela">

  {{ $style := resources.Get "404.scss" | resources.ToCSS | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
<h1>Page Not Found</h1>
<p class="zoom-area"><b>CSS</b> animations to make a cool 404 page. </p>
<section class="error-container">
  <span>4</span>
  <span><span class="screen-reader-text">0</span></span>
  <span>4</span>
</section>
<div class="link-container">
  <a href="{{ .Site.BaseURL }}" class="more-link">Back to homepage</a>
</div>
